{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to the home of the Atlas Climbing Pass
</h1>
<p>The pass will be a service for those wanting to take their climbing all over town or all over the country. 
  Whether you're a prolific climber, an itinerant person, or just envious of the sauna at the other gym in town, 
  the Atlas Climbing Pass is for you! Hoping to launch in 2024, I'll get a form set up 
  soon so you can join the waitlist. Cheers! </p>
{% endblock content %}